* {
  font-family: "Nunito", sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(252, 252, 252, 0.781);
  width: 100vw;
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    background-color: rgb(152, 152, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(42, 64, 255, 0.904) 0px 6px 6px;
    transition: box-shadow 200ms ease-in;
    transition-delay: 100ms;

    &.pass {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(94, 255, 0, 0.904) 0px 6px 6px;
    }
    &.error {
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(255, 0, 0, 0.795) 0px 6px 6px;
    }

    .loginSignup {
      position: absolute;
      width: 200%;
      height: 100%;
    }
  }
}
