.mainDataRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
  p {
    font-weight: 700;
    font-style: italic;
  }
  input {
    width: 100px;
    text-align: right;
  }
}
