.mainDataHolder {
  height: 650px;
  width: 80%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: purple;
  }
  .data {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    row-gap: 2px;
    height: min-content;
    overflow-y: scroll;
  }
  .nav {
    width: 100%;
  }
}
