.navbar {
  height: 50px;
  background-color: rgb(52, 154, 239);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    font-size: 20px;
    font-weight: bold;
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;

    .listItem {
      font-weight: 500;
      margin-right: 20px;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}
