.mainButton {
  flex: 1;
  height: 35px;

  button {
    width: 100%;
    height: 100%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: large;
    background-image: linear-gradient(
      45deg,
      rgba(71, 61, 139, 0.58),
      rgba(71, 61, 139, 0.58)
    );

    cursor: pointer;
    user-select: none;
  }
}
