.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  .dataCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    p {
      color: white;
      font-size: 14px;
      font-weight: 500;
      margin: 0;
    }
  }
}
