.planetsMain {
  color: white;
  flex: 10;
  width: 400px;
  margin-bottom: 5px;

  h2 {
    text-align: center;
  }

  .results {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
  }
}
