/* CSS */
.button-7 {
	width: 162px;
	height: 100px;
	background-color: #0095ff;
	border: 1px solid transparent;
	border-radius: 3px;
	box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 0 inset;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;

	font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans", sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 1.15385;
	margin: 0;
	outline: none;
	padding: 8px 0.8em;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: baseline;
	white-space: nowrap;
}

.button-7:hover,
.button-7:focus {
	background-color: #07c;
}

.button-7:focus {
	box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

.button-7:active {
	background-color: #0064bd;
	box-shadow: none;
}

/* CSS */
.button-15 {
	width: 162px;
	height: 100px;
	background-image: linear-gradient(#42a1ec, #0070c9);
	border: 1px solid #0077cc;
	border-radius: 4px;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	direction: ltr;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 17px;
	font-weight: 300;
	letter-spacing: -0.022em;
	line-height: 1.47059;
	min-width: 30px;
	overflow: visible;
	padding: 4px 15px;
	text-align: center;
	vertical-align: middle;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
}

.button-15:disabled {
	cursor: default;
	opacity: 0.3;
}

.button-15:hover {
	background-image: linear-gradient(#51a9ee, #147bcd);
	border-color: #1482d0;
	text-decoration: none;
}

.button-15:active {
	background-image: linear-gradient(#3d94d9, #0067b9);
	border-color: #006dbc;
	outline: none;
}

.button-15:focus {
	box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
	outline: none;
}
