.button {
  width: 60px;
  height: calc(width * 0.4);
  background-color: rgb(224, 233, 245);
  color: black;
  border: 1px solid white;
  transition: background-color 0.5s ease;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: steelblue;
  }
}
