body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

* {
  font-family: "Roboto", sans-serif;
}

.mainApp {
  height: min-content;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  background-color: white;

  .content {
    width: 90%;
    box-sizing: border-box;
    padding-top: 120px;
    display: grid;
    gap: 5px 13px;
    grid-template-columns: repeat(auto-fit, 100px);
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
  }
}
