* {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
	margin: 10px;
}

.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;

	.themeButtons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}

	.Sliders {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 80px;
	}
}
