.mainSegment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1px;

  .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 1px;
  }
}
